@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6f9;
  --foreground: #1f2937;
  --muted-foreground: #4b5563;
  --accent: #0d9488;
  --background-secondary: #ffffff;
  --border: #e5e7eb;

  .dark {
    --background: #121212;
    --foreground: #e2e6eb;
    --muted-foreground: #9ca3af;
    --accent: #20b2aa;
    --background-secondary: #1e1e1e;
    --border: #2c2c2c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  border: var(--border);
  font-family: var(--font-mono), Helvetica, sans-serif;
}

::selection {
  background-color: #20b2ab42;
}

/* animation */
.transition-element {
  view-transition-name: foo;
}

.prose a:not(.anchor) {
  @apply text-accent no-underline hover:underline;
}

.prose a.anchor {
  @apply relative font-bold text-2xl no-underline;
}
.prose hr {
  @apply border-b border-border;
}
.prose a.anchor::before {
  @apply absolute -left-4 opacity-0 transition-opacity duration-200 content-['#'];
}

.prose a.anchor:hover::before {
  @apply opacity-70;
}

.prose pre {
  @apply overflow-x-auto border border-neutral-800 bg-background my-4 rounded-none;
}

.prose code:not(pre code) {
  @apply px-1.5 py-0.5 text-sm border border-neutral-800 bg-neutral-900 font-thin text-neutral-200;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}

.prose pre code {
  @apply p-4 block bg-transparent;
  border: initial;
  line-height: 1.6;
}

.prose code span {
  @apply font-medium text-gray-200;
}
